Brain_Tumor/
Cell_Nuclei/DSB
Cell_Nuclei/results
Cell_Nuclei/__pycache__
Cell_Nuclei/files
CT_Scan/Dataset
CT_Scan/new_data
CT_Scan/__pycache__
CT_Scan/files
CT_Scan/logs
Lung_Segmentation/Dataset
Lung_Segmentation/__pycache__
Lung_Segmentation/files
Lung_Segmentation/results
Polyp/CVC-ClinicDB
Polyp/__pycache__
Polyp/Files
Polyp/logs
Polyp/Results
Ratina_Blood_Vessel/new_data
Ratina_Blood_Vessel/results
Ratina_Blood_Vessel/test
Ratina_Blood_Vessel/training
Ratina_Blood_Vessel/files
Ratina_Blood_Vessel/logs
Ratina_Blood_Vessel/.vscode
Ratina_Blood_Vessel/__pycache__
Skin_Lesions/ISIC_Dataset
Skin_Lesions/UNET/__pycache__
Skin_Lesions/UNET/files
Skin_Lesions/UNET/logs
Skin_Lesions/UNET/results
Skin_Lesions/RESUNET/__pycache__
Skin_Lesions/RESUNET/files
Skin_Lesions/RESUNET/logs
Skin_Lesions/RESUNET/results
diagnostics-12-03064-v2.pdf
.idea/
